.left {
  color: #fff;
  text-align: center;
  font-family: $font-poppins;
  h1 {
    line-height: 2.5rem;
  }
  p {
    margin-top: 1em;
  }
}

@media (min-width: 1024px) {
  .left {
    text-align: left;
    font-size: $font-size * 1.5;
    width: 45%;
    h1 {
      line-height: 3rem;
    }
    p {
      font-size: $font-size;
    }
  }
}
