.right {
  margin-top: 3rem;
  font-family: $font-poppins;
  .btn-try {
    color: #fff;
    background-color: $blue;
    text-align: center;
    padding: 1rem 4rem;
    border-radius: 0.4rem;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
  }
  form {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      font-family: $font-poppins;
      font-weight: $font-700;
      color: $dark-blue;
      width: 100%;
      border: 1px solid $grayish-blue;
      border-radius: 0.4rem;
      padding: 1rem 2rem;
      margin: 0.5rem 0;
      &:focus {
        border: 1px solid $dark-blue;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: $font-poppins;
        font-weight: $font-700;
      }
    }
    .warning {
      color: $red;
      text-align: right;
      font-size: $font-size/1.5;
      font-weight: $font-600;
      margin-bottom: 0.5rem;
      display: none;
    }
    .active {
      display: block;
    }
    button {
      margin-top: 0.5rem;
      background-color: $green;
      color: #fff;
      font-family: $font-poppins;
      font-weight: $font-500;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      border-radius: 0.4rem;
      padding: 1rem;
      border: none;
      width: 100%;
      cursor: pointer;
    }
    .info {
      padding: 1rem;
      p {
        text-align: center;
        color: $grayish-blue;
        font-size: $font-size/1.3;
        font-family: $font-poppins;
        strong {
          color: $red;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .right {
    width: 45%;
  }
}
